<!-- Tabla para mostrar la lista de películas -->
<table>
  <thead>
    <tr>
      <th>title</th>
      <th>description</th>
      <th>genre</th>
      <th>year</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <!-- Utiliza *ngFor para iterar sobre la lista de películas -->
    <tr *ngFor="let pelicula of listaPeliculas">
      <td>{{ pelicula.title }}</td>
      <td>{{ pelicula.description }}</td>
      <td>{{ pelicula.genre }}</td>
      <td>{{ pelicula.year }}</td>
      <td>
        <!-- Botones para editar y borrar la película -->
        <button (click)="editarPelicula(pelicula)">Editar</button>
        <button (click)="borrarPelicula(pelicula)">Borrar</button>
      </td>
    </tr>
  </tbody>
</table>
<div>
  <h2>Agregar o Editar Película</h2>
  <form>
    <div>
      <label>Título:</label>
      <input type="text" [(ngModel)]="pelicula.title" name="title" required />
    </div>
    <div>
      <label>Descripción:</label>
      <textarea
        [(ngModel)]="pelicula.description"
        name="description"
        required
      ></textarea>
    </div>
    <div>
      <label>Género:</label>
      <input type="text" [(ngModel)]="pelicula.genre" name="genre" required />
    </div>
    <div>
      <label>Año de Lanzamiento:</label>
      <input type="number" [(ngModel)]="pelicula.year" name="year" required />
    </div>
    <div>
      <button (click)="agregarPelicula(pelicula)">Agregar película</button>
      <button (click)="editarPelicula(pelicula)">Editar película</button>
      Guardar Cambios

      <button (click)="cancelarEdicion()">Cancelar</button>
    </div>
  </form>
</div>
